
<simple-modal
  #mainModal
  [title]="model['name']"
  (on-show)="fetchData($event)"
  (on-hide)="resetData($event)"
  [on-start-load]="true"
  [data-backdrop]="'static'">
  <simple-modal-body>

      <simple-modal-tab
        name='RSS'>
        <simple-border>
          <simple-table
            #rssListTable
            [url]="'/rss/list/'+id"
            [max-height]="400"
            [min-height]="400"
            [bind]="model"
            [bind-key]="'rssList'"
            [show-header]="false"
            [header]="[
              { size: [1,1,1,1,1] },
              { size: [9,9,9,9,9] },
              { size: [1,1,1,1,1] },
              { size: [1,1,1,1,1] }
            ]"
            [additionals]="{
              '3' : { type: 'remove-button', event: 'remove' }
            }"
            [events]="{
              'remove' : removeRSSItem.bind(this)
            }">
          </simple-table>
        </simple-border>
      </simple-modal-tab>

      <simple-modal-tab
        name='Settings'>
        <simple-form
          [bind]="model">

          <simple-column
            [padding]="[0,0]"
            [size]="[12,12,12,12,12]">
            <simple-text-input
              [placeholder]="'new name...'"
              [bind]="'newName'"
              [label]="'Name'">
            </simple-text-input>
          </simple-column>

        </simple-form>
      </simple-modal-tab>

  </simple-modal-body>
  <simple-modal-footer>

    <simple-column-space
      [size]="[3,3,3,3,3]">
    </simple-column-space>
    <simple-column
      [padding]="[0,9]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Remove'"
        (on-click)="removeRSS($event)">
      </simple-button>
    </simple-column>
    <simple-column
      [padding]="[0,9]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Save'"
        (on-click)="saveRSS($event)">
      </simple-button>
    </simple-column>
    <simple-column
      [padding]="[0,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Close'"
        (on-click)="onCloseMainModal($event)">
      </simple-button>
    </simple-column>

  </simple-modal-footer>
</simple-modal>

<simple-modal
  #removeModal
  [show-header]="false"
  [size]="'small'"
  [min-height]="70"
  [z-index]="1"
  [data-backdrop]="'false'">
  <simple-modal-body>
    <p>Are you sure you want to <b>remove</b> this RSS?</p>
    <br>
    <simple-form
      [bind]="model">
      <simple-text-input
        [placeholder]="'rss name...'"
        [bind]="'rssToRemove'"
        [label]="'Type'">
      </simple-text-input>
    </simple-form>
  </simple-modal-body>
  <simple-modal-footer>
    <simple-column-space
      [size]="[5,5,5,5,5]">
    </simple-column-space>
    <simple-column
      [padding]="[0,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Cancel'"
        (on-click)="onCancelRemove($event)">
      </simple-button>
    </simple-column>
    <simple-column
      [padding]="[9,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Remove'"
        [disabled]="!(model.rssToRemove == model.name)"
        (on-click)="onRemoveModal($event)">
      </simple-button>
    </simple-column>
    <simple-column-space
      [size]="[1,1,1,1,1]">
    </simple-column-space>
  </simple-modal-footer>
</simple-modal>

<simple-modal
  #saveModal
  [show-header]="false"
  [size]="'small'"
  [min-height]="70"
  [z-index]="1"
  [data-backdrop]="'false'">
  <simple-modal-body>
    <p>Are you sure you want to <b>save</b> this RSS?</p>
  </simple-modal-body>
  <simple-modal-footer>
    <simple-column-space
      [size]="[6,6,6,6,6]">
    </simple-column-space>
    <simple-column
      [padding]="[0,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Cancel'"
        (on-click)="onCancelSave($event)">
      </simple-button>
    </simple-column>
    <simple-column
      [padding]="[9,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Save'"
        (on-click)="onSaveModal($event)">
      </simple-button>
    </simple-column>
  </simple-modal-footer>
</simple-modal>
