
<simple-modal
  #modal
  [title]="'New RSS'"
  [min-height]="90"
  (on-hide)="resetData($event)"
  [data-backdrop]="'static'">
  <simple-modal-body>

    <simple-row>
      <simple-form
        [bind]="model">

        <simple-column
          [size]="[12,12,12,12,12]">
          <simple-text-input
            [placeholder]="'name...'"
            [bind]="'name'"
            [label]="'Name'">
          </simple-text-input>
        </simple-column>

        <simple-column-space
          [padding]="8"
          [size]="[12,12,12,12,12]">
        </simple-column-space>

        <simple-column
          [size]="[12,12,12,12,12]">
          <simple-text-input
            [placeholder]="'link...'"
            [bind]="'rssLink'"
            [label]="'RSS'">
          </simple-text-input>
        </simple-column>

      </simple-form>
    </simple-row>

  </simple-modal-body>
  <simple-modal-footer>

    <simple-column-space
      [size]="[9,9,9,9,9]">
    </simple-column-space>
    <simple-column
      [padding]="[0,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Add'"
        (on-click)="addRSS($events)">
      </simple-button>
    </simple-column>

  </simple-modal-footer>
</simple-modal>
