
<simple-modal
  #modal
  [title]="'New Archive'"
  (on-hide)="resetData($event)"
  [data-backdrop]="'static'">
  <simple-modal-body>

    <simple-row>
      <simple-form
        [bind]="model">

        <simple-column
          [size]="[12,12,12,12,12]">
          <simple-text-input
            [placeholder]="'title...'"
            [bind]="'title'"
            [label]="'Title'">
          </simple-text-input>
        </simple-column>

        <simple-column-space
          [padding]="8"
          [size]="[12,12,12,12,12]">
        </simple-column-space>

        <simple-column
          [size]="[12,12,12,12,12]">
          <simple-text-area
            [label]="'Description'"
            [rows]="14"
            [placeholder]="'description...'"
            [bind]="'description'">
          </simple-text-area>
        </simple-column>

        <simple-column-space
          [padding]="8"
          [size]="[12,12,12,12,12]">
        </simple-column-space>

        <simple-column
          [size]="[12,12,12,12,12]">
          <simple-column
            [size]="[6,4,4,4,4]">

            <simple-checkbox
              [bind]="'hasFiles'"
              [label]="'Has files'">
            </simple-checkbox>

          </simple-column>
          <simple-column
            [size]="[6,4,4,4,4]">

            <simple-checkbox
              [bind]="'hasList'"
              [label]="'Has list'">
            </simple-checkbox>

          </simple-column>
          <simple-column
            [size]="[6,4,4,4,4]">

            <simple-checkbox
              [disabled]="!model['hasList']"
              [bind]="'isCheckList'"
              [label]="'Is check list'">
            </simple-checkbox>

          </simple-column>
        </simple-column>

      </simple-form>
    </simple-row>

  </simple-modal-body>
  <simple-modal-footer>

    <simple-column-space
      [size]="[9,9,9,9,9]">
    </simple-column-space>
    <simple-column
      [padding]="[0,0]"
      [size]="[3,3,3,3,3]">
      <simple-button
        [look]="'default'"
        [button-label]="'Save'"
        (on-click)="saveArchive($events)">
      </simple-button>
    </simple-column>

  </simple-modal-footer>
</simple-modal>
