
<!-- Bootstrap Snippet by codename065, modified by elesfier -->


<div class="row" style="padding-top: 20px;">
  <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <div class="well well-sm">
        <div class="card hovercard">
            <div class="cardheader">
              <h3 style="padding-top: 10px;"><span class="label label-primary">Portfolio</span></h3>
            </div>
        </div>
      </div>
    </div>

</div>
<label
  class="label label-info"
  style="margin-left: 20px !important; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; font-size: 100%;">
  My Projects
</label>
<div class="row">
  <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
    <div class="well well-sm clearfix" style="overflow:hidden; overflow-y:auto; max-height: 390px;">
      <a style=" bottom: 30px;" class="btn btn-default" [routerLink]="['/login']">Moji - Data Management Application</a>
    </div>
  </div>
</div>
